<%=render :partial =>"shared/script"%>
<div class="jumbotron3 text-center">
  <div class="row">
    <h1>La Mia Rete</h1>
    <hr>
    <%=render :partial =>"layouts/sidebar"%>
    <div class="panel3">
      <div class="panel-body">
        <% if logged_in? %>
          <%=render :partial =>"shared/indirizzimac_form"%>
          <a class="btn icon-btn btn-success pos" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
          Aggiungi Macaddress
          </a>
                <% if @employee.indirizzimacs.any?%>
                  <br>
                  <br>
                  <%= link_to image_tag("all.png") ,employee_path(session[:employee_id],:act => 'miaRete',:del=>'true',:rel=>'true',:del=>'true',:rel=>'true')%>   
                  <%= link_to image_tag("pc.png"),employee_path(session[:employee_id],:act => 'miaRete', :dispositivo=> 'PC',:del=>'true',:rel=>'true')%>
                  <%= link_to image_tag("tablet.png"),employee_path(session[:employee_id],:act => 'miaRete', :dispositivo=> 'Tablet',:del=>'true',:rel=>'true')%>
                  <%= link_to image_tag("phone.png"),employee_path(session[:employee_id],:act => 'miaRete', :dispositivo=> 'Telefono',:del=>'true',:rel=>'true')%>
                  <%= link_to image_tag("vmachine.png"),employee_path(session[:employee_id],:act => 'miaRete', :dispositivo=> 'VirtualMachine',:del=>'true',:rel=>'true')%>
                  <%= link_to image_tag("server.png"),employee_path(session[:employee_id],:act => 'miaRete', :dispositivo=> 'Server',:del=>'true',:rel=>'true')%>
                  <br><br>
                  <table class="table2" id='mac'>
                    <tr>
                      <th></th>
                      <th>
                          Hostname
                          <%=render :partial =>"shared/updown_hostname_mod"%>
                      </th>
                      <th>
                          MacAddress
                          <%=render :partial =>"shared/updown_macaddress_mod"%>
                      </th>
                      <th>
                          Dispositivo
                          <br>
                         <%=render :partial =>"shared/updown_dispositivo_mod"%>
                      </th>
                      <th>
                          Connessione
                          <br>
                          <%=render :partial =>"shared/updown_connessione_mod"%>
                      </th>
                      <th>
                          Vlan
                          <br>
                          <%=render :partial =>"shared/updown_vlan_mod"%>
                      </th>
                      <th></th>
                    </tr>
                  <% @indirizzimacs.each do |indirizzimac| %>
                    <tr id='myRow'>
                      <%= form_for(@indirizzimac, :url => '/indirizzimacs/'+indirizzimac.id.to_s , :method=>'put') do |f| %>
                      <td><%= f.submit "edit", class: "btn green"%></td>
                      <td>
                        <%= f.text_field :hostname, class: 'form-control',:value => indirizzimac.hostname %>
                      </td>
                      <td>
                        <%= f.text_field :macAddress, class: 'form-control',:value => indirizzimac.macAddress %>
                      </td>
                      <td>
                      <%= f.select(:dispositivo, [indirizzimac.dispositivo,'PC', 'Tablet','Telefono','VirtualMachine','Server'],{} ,class: "form-control")%>
                      </td>
                      <td>
                      <%= f.select(:connessione, [indirizzimac.connessione,'Wi-Fi', 'Ethernet'],{} ,class: "form-control")%>  
                      </td>
                      <td>
                      <%= f.collection_select :vlan_id, Vlan.all, :id, :nome ,{selected: indirizzimac.vlan.nome},{:class=> "form-control"}%>
                      <%= errors_for @indirizzimac, :vlan_id %>
                      </td>
                      <td><%= link_to indirizzimac, method: :delete do%><span class='glyphicon glyphicon-remove' style=" color:red !important"></span><%end%></td>
                      <%end%>
                    </tr>
                  <%end%>
                  </table>
                  <br><br>
                <%= link_to "Fine",employee_path(session[:employee_id],:act => 'miaRete'),class: "btn red btn2"%>
        <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>
