<tr id='myRow'>
    <td><%= indirizzimac.hostname %></td>
    <td><%= indirizzimac.macAddress %></td>
    <td><%= indirizzimac.dispositivo %></td>
    <td><%= indirizzimac.connessione %></td>
    <td><%= indirizzimac.vlan.nome %></td>
</tr>